*{
    font-family: 'Chakra Petch', sans-serif;
}

body{
    height: 95vh;
    width: 95vw;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image:url(assets/backGroundWallpaper.jpg)
}

#content{
    display:flex;
}
#titleGame{
    display: flex;
    width: 649px;
    height: 70px;
    z-index: 0;
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 10px 12px 0px 0px;
    box-shadow: 0px 0px 19px rgb(85, 58, 42);
    border-bottom: 4px solid black;
    box-shadow: 0px -7px 12px 3px rgb(85,58,42);
    justify-content:center;
    align-items:center;
}

#infoGame{
    display: grid;
    justify-content: center;
    align-content: baseline;
    width: 145px;
    height: 500px;
    background-color:lightblue;
    border-left: 4px solid black;
    border-radius: 0px 0px 12px 0px;
    box-shadow: 7px 7px 12px 0px rgb(85,58,42);
}

#infoGame div{
    display: flex;
    height: 80px;
    width: 140px;
    margin:0px;
    font-size: 1.255rem;
    margin-top: 20px;
}

#infoGame p {
    margin-left: 4px;
}

.infoGame{
    height: 50px;
    font-size:22px;
    margin :5px;
}

canvas{
    border: 1px solid lightblue;
    border-radius:0px 0px 0px 12px;
    box-shadow: 0px 0px 19px 15px rgb(85,58,42);
}

h1{
    text-shadow: 3px 0px black;
    font-size: 3rem;
    width: auto;
    font-family: 'Chakra Petch', sans-serif;
    color: green;
    display: flex;
}
#restart{
    width: 220px;
    height: 80px;
    background-color: white;
    position: absolute;
    z-index: 1;
    display:none;
}

#restart p{
    margin: 10px 0px 10px 0px;
    text-align: center;
}

#restart ul{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0;
}

#restart li{
    list-style: none;
}

.btn-primary{
    padding: 1px 10px;
    cursor: pointer;
}